:root {
  --Green:#3CB043;
  --Silver: #C0C0C0;
}

header{
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

header h1{
  font-family: 'Anek Latin', sans-serif;
  border: black;
}

header img{
  height: 25px;
}

header p{
  height: 50px;
}